*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
html,body{
    height: 100%;
    width: 100%;
}
.box{
    height: 100%;
    width: 35%;
    background-color: blue;
    position: relative;
}
.box h4{
    color: white;
    margin: 19px;
    font-size: 25px;
}

i{
    color: black;
    font-size: 25px;
    position: absolute;
    top: 20px;
    left: 93%;
    margin-top: 20px;
    
}
h3{
    margin-top: 520px;
    margin-left: 25px;
    color: white;
    /* font-family:Arial, Helvetica, sans-serif; */
}
h5{
    margin-left: 25px;
    margin-top: 4px;
    font-size: 20px;
    color: white;
}
h6{
    font-size: 25px;
    margin-top: 15px;
    margin-left: 25px;
    color: white;
    
}
h2{
    margin-top: -75%;
    margin-left: 900px;
    font-size: 30px;
}
p{
    font-size: 15px;
     margin-top: 4px;
     width: 250px;
}
.para{
    margin-left: 900px;
    font-size: 20px;
   display: -webkit-box;
   width: 250px;
   margin-top: 15px;
}
button{
    margin-left: 900px;
    margin-top: 10px;
    border-radius: 5px;
    padding: 6px;
    background-color: blue;
    color: white;
    
    
}
.btn{
    gap: 10px;
    display: inline;
}
button:hover{
    color: blue;
    background-color: white;
}


img{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 590px;
    width: 500px;
    object-fit: cover;
    position: absolute;
    left: 320px;
    box-shadow: 0px 5px 17px rgba(0,0,0,0.3);
   
}
