*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    height: 100%;
    width: 100%;
    background-color: rgb(138, 168, 195);
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    height: 400px;
    width: 300px;
    background-color: white;
    border-radius: 10px;
}
.container img{
    margin-top: 10px;
    height: 180px;
    width: 300px;
    object-fit: cover;
    object-position: center;
    padding: 10px;
    border-radius: 18px;
}
.container h1{
    margin-left: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container h5{
    color: red;
    margin-top: 15px;
    margin-left: 83px;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

 #add{
    color: white;
    background-color: rgb(110, 161, 144);
    padding: 10px 10px;
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 30px;
    margin-left: 110px;
    border: none;
    cursor: pointer;
}
