* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    background: #1e1e1e;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 350px;
    background: #2e2e2e;
    padding: 20px;
    border-radius: 10px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.input-area {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

#taskInput {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

#addBtn {
    padding: 10px 15px;
    background: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
}

#taskList {
    list-style: none;
}

li {
    background: #3a3a3a;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

.completed {
    text-decoration: line-through;
    color: #aaa;
}
