*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    height: 100%;
    width: 100%;
    background-color: rgb(145, 178, 214);  
    display: flex;
    align-items: center;
    justify-content: center;  
}
#card{
    height: 450px;
    width: 300px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid black;
    position: relative;
    overflow: hidden;
}
.storiyan{
    height: 95px;
    width: 100%;
    border: 1px solid #959090;
    padding: 20px;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    
}
.storiyan::-webkit-scrollbar{
    display: none;
}
.storys{
    height: 55px;
    width: 55px;
    border-radius: 50%;
    border: 2px solid red;
    overflow: hidden;
    display: inline-block;
    margin-right: 6px;
   
}
.storys img{
    height: 100%;
    width: 100%;
    object-position: center;
    object-fit: cover;
}
.full-screen{
    height: 100%;
    width: 100%;
   background-size: cover;
   background-position: center;
    position: absolute;
    display: none;
}