*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
}
main{
    height: 85%;
    width: 100%;
    background-color: black;
    display: flex;
    padding: 5vw 10vw;
}
.left{
    height: 100%;
    width: 45%;
    background-color: #333;
    background-image: url("https://m.media-amazon.com/images/I/91zTlD7AY1L.jpg");
    background-size: cover;
    background-position: top;
}
.right{
    height: 100%;
    width: 55%;
    padding: 0 3vw;
}
.right h3{
    font-size: 30px;
}
.all-songs{
    height: 85%;
    margin-top: 0;
    padding-top: 0;
    /* margin-top: 30px; */
    
}
.song-card{
    display: flex;
    align-items: center;
    justify-content: space-between;
     padding: 15px 20px;
    border-top: 1px solid #5a5a5a;        
}
.song-card:nth-last-child(1){
    border-bottom: 1px solid #5a5a5a;
}
.song-card .part1{
    display: flex;
    align-items: center;
    pointer-events: none;
    /* align-items: center; */

}
.song-card img {
    height: 45px;
    width: 40px;
    margin-right: 20px;
  
}
.part1 h2{
    font-size: 15px;
    margin-left: 10px;
}
.player{
    height: 15%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}
.player h3{
    background-color: #3a3939;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.player h3 i{
    font-size: 24px;
}
.player h3 :active{
    scale: 0.9;
}